@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

.navbar>div>a {
    font-size: 30px;
    font-weight: 600;
}

.carousel-item img {
    filter: brightness(60%);
}

.h-fix {
    font-size: 3.8rem;
    max-width: 600px;
    font-weight: 600;
}

.p-fix {
    max-width: 720px;
    margin-left: 90px;
    font-size: 1.1rem;
}

.mw-600 {
    max-width: 600px;
}

.mw-390 {
    max-width: 390px;
}

footer {
    height: 450px;
}