@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

.navbar>div>a {
    font-size: 30px;
    font-weight: 600;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}

.carousel-caption {
    margin-bottom: 160px;
}

.h-fix {
    font-size: 3.8rem;
    max-width: 600px;
    font-weight: 600;
}

.p-fix {
    max-width: 720px;
    margin-left: 90px;
    font-size: 1.1rem;
}

.mw-600 {
    max-width: 600px;
}